.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

footer {
  background-color: #242526;
  color: #fff;
  font-size: 14px;
  height: 40px; /* Set fixed height */
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
  display: flex; /* Use flexbox for centering */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

footer p {
  margin: 0; /* Remove margin to fit within the fixed height */
}

footer a {
  color: #66a3ff;
  text-decoration: none;
}